<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
</head>
<body>

    <form th:action="@{/admin/categories/update}" th:object="${cate}" method="post" enctype="multipart/form-data">

        <input type="hidden" th:field="*{id}"/> <!-- Sửa cate.ID thành id -->

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" th:field="*{name}" required/> <!-- Sửa cate.name thành name -->
			
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p> <!-- Sửa categoryName thành name -->
        </div>

  
        <div>
            <button type="submit" th:text="Update"></button> <!-- Sửa category thành cate -->
            <a th:href="@{/admin/categories}">Cancel</a>
        </div>
    </form>
</body>	
</html>
