<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Admin</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Custom fonts for this template-->

    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.css" rel="stylesheet">
    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="/https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display:wght@700;900&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>

<div class="sidebaradmin">
    <div th:replace="/fragments/sidebar-admin"></div>
    <!-- Content Start -->
    <div class="container"><h2>Welcome to Admin Dashboard</h2> <!-- Thống kê -->
        <div class="row">
            <div class="col-md-3">
                <div class="card text-white bg-info">
                    <div class="card-body"><h5 class="card-title">Total Products</h5>
                        <p class="card-text" th:text="${productCount}">0</p></div>
                </div>
            </div>
			<div class="col-md-3">
			             <div class="card text-white bg-info">
			                 <div class="card-body"><h5 class="card-title">Total Store</h5>
			                     <p class="card-text" th:text="${storeCount}">0</p></div>
			             </div>
			         </div>
            <div class="col-md-3">
                <div class="card text-white bg-success">
                    <div class="card-body"><h5 class="card-title">Total Users</h5>
                        <p class="card-text" th:text="${userCount}">0</p></div>
                </div>
            </div>
			<div class="col-md-3">
						             <div class="card text-white bg-success">
						                 <div class="card-body"><h5 class="card-title">Doanh thu</h5>
						                     <p class="card-text" th:text="${totalAmountSum}">0</p></div>
						             </div>
						         </div>
								 
								 
        </div>
    </div>
</div>
                    <div th:replace="/fragments/footer-admin"></div>
                    <!-- JavaScript Libraries -->
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
                    <script src="/lib/wow/wow.min.js"></script>
                    <script src="/lib/easing/easing.min.js"></script>
                    <script src="/lib/waypoints/waypoints.min.js"></script>
                    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

                    <!-- Template Javascript -->
                    <script src="/js/main.js"></script>
</body>

</html>